---
layout: default
---


<!-- Main jumbotron for a primary marketing message or call to action -->

<!-- <div class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
  <div class="uk-card-media-right uk-cover-container uk-width-1-3">
      <img src="imgs/splash.png" alt="" uk-cover>
      <canvas width="500" height="350"></canvas>
  </div>
  <div class="uk-flex uk-flex-middle">
    <div class="uk-card-body uk-width-expandy">
        <h3 class="uk-card-title">{{site.title}}</h3>
        <p>{{site.description}} </p>
    </div>
  </div>
</div> -->

<div class="uk-card uk-card-default uk-flex uk-flex-middle uk-margin uk-flex-wrap-reverse uk-visible@m">
    <div>
      <img class="uk-height-medium" data-src="imgs/splash.png" alt="" uk-img>
    </div>
    <div class="uk-container">
      <h3>{{site.title}}</h3>
      <p>{{site.description}}</p>
    </div>
</div>

<div class="uk-container">
  <img class="uk-height-medium uk-hidden@m" data-src="imgs/splash.png" alt="" uk-img>
  {{ content }}
</div>
